
<link rel="stylesheet" href="~/css/destinos.css"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
<body>

    <div class="container-fluid">
        <h4>Araruama Adventures (RJ)</h4>
        <div class="row">
            <div class="col-md-12 mt-3 p-2">
                <img style='float: left; width: 200px; height: 200px; margin-right: 10px;' src="~/imagens/imagens_maispraias/praia1.jpg" />
                <h5> Aproveite Araruama com todo arsenal de aventuras que esse lugar incrível pode te oferecer!</h5>
                <h5> Dentro desse pacote oferecemos 5 diárias com todos os esportes marítimos: aulas de surf, bodyboarding, stand up paddle e kitesurf!</h5>
                <h5> O pacote inclui aulas para você e sua família e as melhores praias no nosso roteiro.</h5>
                <h5> Não perca essa oportunidade, faça o cadastro e reserve essa experiência! A partir de R$4.000. </h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4>Ecoturismo na Barra(RJ)</h4>
        <div class="row">
            <div class="col-md-12 mt-3 p-2">
                <img style='float: left; width: 200px; height: 200px; margin-right: 10px;' src="~/imagens/imagens_maispraias/praia2.jpg" />
                <h5> A Barrinha continua sendo o point fundamental da prática do kitesurf!</h5>
                <h5>Nesse pacote temos 3 diárias no melhor hotel da Barra, à beira da praia, incluindo Trilhas no Morro da Pedra Branca e Telégrafo!</h5>
                <h5> Estão incluídas aulas de kitesurf e passeios de barco pela Ilha da Gigóia que dá acesso aos melhores restaurantes da cidade.</h5>
                <h5> Não perca essa oportunidade, faça o cadastro e reserve essa experiência! A partir de R$1.000. </h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4>Delícias de Florianópolis</h4>
        <div class="row">
            <div class="col-md-12 mt-3 p-2">
                <img style='float: left; width: 200px; height: 200px; margin-right: 10px;' src="~/imagens/imagens_maispraias/praia3.jpg" />
                <h5>As praias paradisíacas de Floripa e a night da cidade!</h5>
                <h5>  Oferecemos tour pelas praias da região, além de todo o transporte.</h5>
                <h5>Estão incluídos passeios de saveiro pelas praias vizinhas.</h5>
                <h5> Não perca essa oportunidade, faça o cadastro e reserve essa experiência! A partir de R$5.000. </h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4>Resort Búzios</h4>
        <div class="row">
            <div class="col-md-12 mt-3 p-2">
                <img style='float: left; width: 200px; height: 200px; margin-right: 10px;' src="~/imagens/imagens_maispraias/praia4.jpg" />
                <h5> Aproveite Búzios com todo luxo e pompa. Além de 2 diárias em Cruzeiro pelas praias da Azeda e Azedinha.</h5>
                <h5> Desfrute de um passeio exclusivo pelas Ruas das Pedras, com acesso ao melhor da comida e da night da região.</h5>
                <h5> O pacote inclui descontos exclusivos junto às empresas parceiras da dtravels.</h5>
                <h5> Não perca essa oportunidade, faça o cadastro e reserve essa experiência! A partir de R$1.500. </h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4>Rio Adventures</h4>
        <div class="row">
                <div class="col-md-12 mt-3 p-2">
                <img style='float: left; width: 200px; height: 200px; margin-right: 10px;' src="~/imagens/imagens_maispraias/praia5.jpg" />
                <h5> O Rio de Janeiro como você nunca viu! Com vista para a Zona Sul da cidade. </h5>
                <h5> Dentro desse pacote oferecemos 5 diárias com todos os esportes marítimos: aulas de surf, bodyboarding, stand up paddle e kitesurf!</h5>
                <h5> O pacote inclui aulas para você e sua família e as melhores praias no nosso roteiro.</h5>
                 <h5> Não perca essa oportunidade, faça o cadastro e reserve essa experiência! A partir de R$2.600. </h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4>Ubatuba Mergulhos</h4>
        <div class="row">
            <div class="col-md-12 mt-3 p-2">
                <img style='float: left; width: 200px; height: 200px; margin-right: 10px;' src="~/imagens/imagens_maispraias/praia1.jpg" />
                <h5> Mergulho é com a gente mesmo! Nesse pacote oferecemos 5 diárias no melhor hotel de Ubatuba na frenta da praia.</h5>
                <h5> Incluídas duas saídas de mergulho, com todo o equipamento e instrutor por nossa conta, além da prática de scuba diving à vontade. </h5>
                <h5> O pacote inclui as praias mais paradisíacas, para você aproveitar tudo o que tem direito.</h5>
                <h5> Não perca essa oportunidade, faça o cadastro e reserve essa experiência! A partir de R$4.000. </h5>
            </div>
        </div>
    </div>
</body>